.zhyb_yjbd_li{
    padding: 10px 18px;
    margin: 8px 38px;
}
.zhyb_yjbd_name{
    font-size: 15px;
    width: 86%;
    display: inline-block;
    color: #333;
    &:hover{
    	color: #44aef1;
    }
}