.aside_li{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    margin: 5px 0;
    a{
        color: #595959;
        &:hover{
            cursor: pointer;
            color: #19be91;
        }
    }
    .active{
        color: #19be91;
    }
}
.aside_title{
    margin-top: 30px;
    height: 56px;
    line-height: 56px;
    display: inline-block;
    color: #fff;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background: #19be91;
    border-radius: 6px 6px 0 0;
}
.aside_list{
    background: #fff;
    border-radius: 0 0 6px 6px;
}

.aside-ul{
    display: inline-block;
    width: 100%;
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    & li{
        // margin: 0;
        // margin-top: 7px;
        // padding: 0;
        margin-top: 5px;
        cursor:pointer
    }
    & li a{
        color: #666;display: block
    }
}
.aside-parent-title{
    height: 30px;
    line-height: 30px;
    background-color: #eeeeee; 
    padding: 0 15px 0 15px;
    border-radius: 5px;    
    &:hover{
        background-color: #e8f8f4;
        a:hover{
         color: #2dcc9b
        }
    }
    & a{
        display: block
    }
    &:active{
        background-color: #e8f8f4;
    }
}
.aside-parent-li{
    padding-left: 10px;
}
.aside-child-li{
    list-style-type: initial;
    color: #666;
    &:hover{
        a{
             color: #2dcc9b;
        }
         color: #2dcc9b;
    }
}
.aside-child-ul{
    padding-left: 20px;
    margin-left: 45px;
    overflow: hidden;
}
.asideAnimate-appear {
    max-height: 0px;
    transition: all 300ms ease-in;
}
.asideAnimate-appear-active {
    max-height:10000px;
    transition: all 5000ms ease-in;
}

.asideAnimate-enter {
    opacity: 1;
    transition: all 300ms ease-in;
}

.asideAnimate-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}

// .asideAnimate-leave {
//   opacity: 1;
// }

// .asideAnimate-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }