.aside_li{
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    margin: 5px 0;
    a{
        color: #595959;
        &:hover{
            cursor: pointer;
            color: #19be91;
        }
    }
    .active{
        color: #19be91;
    }
}
.aside_title{
    margin-top: 30px;
    height: 56px;
    line-height: 56px;
    display: inline-block;
    color: #fff;
    width: 100%;
    font-size: 18px;
    text-align: center;
    background: #19be91;
    border-radius: 6px 6px 0 0;
}
.aside_list{
    background: #fff;
    border-radius: 0 0 6px 6px;
}