.szybimg-text{
    color: #fff;
    font-size: 20px;
    background: rgba(53, 53, 53, 0.78);
    padding: 3px 16px;
    border-radius: 18px;
    display: inline-block;
    margin: 50px 85px;
    width: 114px;
    text-align: center;
    &:hover{
        background: #1ea0ff;
        cursor: pointer;
    }
}
.szybimg-li{
	display:inline-block;
    width: 294px;
    height: 128px;
    margin: 10px 10px;
}
.szybimg-body{
    display: inline-block;
}