.yjbd_li{
    padding: 10px 18px;
    margin: 12px;
    background: #efefef;
}
.yjbd_grade{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 8px;
    margin-right: 5px;
    img{
        vertical-align: text-bottom;
    }
}
.yjbd_name{
	font-size: 15px;
    font-weight: bold;
    width: 245px;
    display: inline-block;
    color: #333;
    &:hover{
        color: #e64f3c;
        cursor: pointer;
    }
}
.yjbd_time{
    color: #797979;
    font-size: 13px;
}
.yjbd_code{
    color: #797979;
    font-size: 13px;
    margin-left: 14px;
}
.yjbd_body{
    overflow: hidden;
}