.pdfshow-title{
    background: #4b9bd7;
    height: 45px;
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    margin-bottom: 10px;
    .pdfshow-name{
		margin-left: 20px;
    }
    .pdfshow-back{
		cursor: pointer;
		font-size: 15px;
	    float: right;
	    margin-right: 20px;
    }
}
.pdfshow-body{
    text-align: center;
}