.admin{
    width: 100%;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 50px;
    min-height: 600px;
}
.admin-title{
    background: #1ea0ff;
    color: #fff;
    font-size: 24px;
    border-radius: 8px 8px 0 0;
    padding: 10px;
}
.navlist{
    background: #fff;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.navli{
	padding: 6px 0;
	border-left: 1px solid #c7c5c5;
	border-right: 1px solid #c7c5c5;
	border-top: 1px solid #c7c5c5;
    &:last-child{
    	border-bottom: 1px solid #c7c5c5;
    	border-radius: 0 0 6px 6px;
    }
    &:first-child{
	    border-radius: 6px 6px 0 0;
    }
    &:hover{
    	cursor: pointer;
    }
	& a{
		color: #666
	}
}
.navLi__active{
	color: #2dcc9b !important
}
.form-group{
	padding:10px;
	
	lable{
		padding-right:10px;
	}
	input[type="input"]{
	    border: 1px solid #c7c7c7;
	    padding: 5px;
	    border-radius: 6px;
        width: 250px;
	}
	.submit{
	    width: 316px;
	    background: #2db7f5;
	    color: #fff;
	    border: none;
	    height: 30px;
	    font-size: 15px;
	    cursor: pointer;
	}
	.submit:hover{
		 background: #1ea0ff;
	}
}

.admin-container{
	position: relative;
}
.admin-aside{
	width: 270px;
	position: absolute;
	z-index: 1;
}
.admin-right-container{
	position: absolute;
	left:0;top: 0;
	padding-left: 280px;
	width: 100%;
}
.products-info{
	width: 100%;
	& div{
	
	}
}
.products-info-table{
	width: 100%;
	text-align: left;
	& td {
		text-align: left;
	}
	& td label{
		color: #fff
	}
	& td:first-child{
		background-color: #666;
		width: 150px;
		text-align: center;
	}
	& td:nth-child(3){
		background-color: #666;
		text-align: center;
		width: 150px;
	}
}
.products-list{
	display: table;
	width: 100%;
}
.product-list-c{
	margin-top: 56px;
	display: table;
	text-align: center;
	width: 100%;
	& span{
		color: orange;
		font-size: 20px;
		display: inline-block;
	}
}
.product-list-col{
	display: table-cell;
	text-align: center;
	& span{
		color: orange;
		font-size: 20px;
		display: inline-block;
	}
	& div{
		cursor: pointer;
		margin: 5px auto;
		width: 150px;
		background-color: #F5F5F5;
		font-size: 17px;
		&:hover{
			background-color: #E0E0E0;
			color:#2dcc9b
		}
		&:visited{
			background-color: #E0E0E0;
			color:#2dcc9b
		}
	}
}
.products-info-c{
	display: table;
	width: 100%;
	& span{
		color: #2dcc9b;
		font-size: 20px;
		display: inline-block;
	}
}
.product-info--left{
	display: table-cell;
}
.product-info--label{
	
}
.product-info--col{
	margin-top:5px; 
	& label{
		display: inline-block;
		width: 159px;
		background-color: #F5F5F5;
		font-size: 17px;
	}
	& span{
		display: inline-block;
		width: 186px;
		font-size: 15px;
	}
}
.product-info--right{
	display: table-cell;	
}