.nav_body{
    /* border: 1px solid #e5e5e5; */
    box-shadow: 1px 1px 1px #e2e2e2;
    background-color: hsla(0,0%,100%,.47);
    border-radius: 12px;
    width: 100%;
}
.nav_li{
        width: 120px;
    display: inline-block;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    a{
        color: #474747;
        &:hover{
            background-color: rgba(68, 174, 241, 0.75);
            color: #fff;
            padding: 3px 10px;
            border-radius: 8px;
            cursor: pointer;
        }
        &.active{
            background-color: rgba(68, 174, 241, 0.75);
            color: #fff;
            padding: 3px 10px;
            border-radius: 8px;
        }
    }
}
